{% extends 'base.html' %}

{% block title %}HomePage{% endblock title %}

{% block navbar %}

<a class="nav-link active" aria-current="page" href="/">Home</a>
<a class="nav-link" href="mon_inv">Monthly Investment</a>
<a class="nav-link" href="vis_time">Vision Time</a>
<a class="nav-link" href="step_up_mon_inv">Step up Monthly investment</a>
<a class="nav-link" href="vis_time_up">Vision Time(Step-up)</a>

{% endblock navbar %}

{% load static %}
{% block body %}

<main class="px-3">
    <br>
    <img src="{% static 'images/Welcome.jpg'%}" height="350px" width="600px" ><br><br><br>     
    <ul>
    <h3><li style="color:aqua;"><p style="text-align:left;color:aqua;">Description</p></li></h3>
    <p style="color: blanchedalmond;"> Maths! Maths! Maths! Wherever there is investment it  requires maths but what if you are not good at Maths ,Don't Worry We will make the Calculations simplified for you,So Pack your Queries and let them deliver to us by using these Four Calculators </p>
    <h3><li style="color:aqua;"><p style="text-align:left;color: aqua;">How to use</p></li></h3>
    <p style="text-align:left;color: blanchedalmond;">Under Each Calculator Example are given so that it becomes easy for the user to understand the functionality of the Calculators</p><p style="text-align:left;color: blanchedalmond;">Also these Calculators will tell you parameters like</p>
    <ul>
    <li><p style="text-align:left;color: blanchedalmond">Amount Invested</p></li>
    <li><p style="text-align:left;color: blanchedalmond">Profit</p></li>
    <li><p style="text-align:left;color: blanchedalmond">Total Return</p></li></ul>
    </ul>
</main>

{% endblock body %}




