{% extends 'base.html' %}

{% block body %}

<main class="px-3">
    <h1>Monthly Investment</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text,
        and add your own fullscreen background photo to make it your own.</p>
        
        <!-- Form -->
        <!-- Mon inv, years, expected return -->
        <form method="post" action="/contact">
	        {% csrf_token %}
	            <div class="form-group mb-3">
	                <label for="name">Monthly Investment</label>
	                <input type="text" class="form-control" id="monthly_investment" name="monthly_investment" placeholder="1000">
	            </div>

                <div class="form-group mb-3">
	                <label for="name">Years</label>
	                <input type="text" class="form-control" id="years" name="years" placeholder="10">
	            </div>

                <div class="form-group mb-3">
	                <label for="name">Expected Return (in %)</label>
	                <input type="text" class="form-control" id="exp_ret" name="exp_ret" placeholder="15">
	            </div>
	
	            <button class="btn btn-primary mb-3" type="submit">Submit</button>
	    </form>

</main>

{% endblock body %}