{% extends 'base.html' %}

{% block title %}Step Up Monthly Investment Calculator{% endblock title %}

{% block navbar %}

<a class="nav-link" href="/">Home</a>
<a class="nav-link"  href="mon_inv">Monthly Investment</a>
<a class="nav-link" href="vis_time">Vision Time</a>
<a class="nav-link active" aria-current="page" href="step_up_mon_inv">Step up Monthly investment</a>
<a class="nav-link" href="vis_time_up">Vision Time(Step-up)</a>

{% endblock navbar %}


{% block body %}

<main class="px-3">
    <h1>Step Up Monthly Investment</h1>
    <p class="lead">Suppose you are saving ₹1000 per month in the first year and investing the amount and you are confident that second year onwards you save ₹1100 per month and in the third year you will save ₹1200 per month and so on,Using these calculator you will get an idea how much lupsum amount you will earn
    </p>
        
        <!-- Form -->
        <!-- Mon inv, years, expected return -->
    <div class="card bg-white text-black" style="width:18 ; padding: 20px;" >
        <form method="post" action="/step_up_mon_inv" style="color: black;">
	        {% csrf_token %}
	            <div class="form-group mb-3">
	                <label for="name">Monthly Investment (in ₹)</label>
	                <input type="text" class="form-control" id="monthly_investment" name="monthly_investment" placeholder="1000">
	            </div>

				<div class="form-group mb-3">
	                <label for="name">Monthly Increment (in ₹)</label>
	                <input type="text" class="form-control" id="monthly_inc" name="monthly_inc" placeholder="10">
	            </div>

                <div class="form-group mb-3">
	                <label for="name">Years</label>
	                <input type="text" class="form-control" id="years" name="years" placeholder="10">
	            </div>

                <div class="form-group mb-3">
	                <label for="name">Expected Return (in %)</label>
	                <input type="text" class="form-control" id="exp_ret" name="exp_ret" placeholder="15">
	            </div>
	
	            <button class="btn btn-primary mb-3" type="submit">Submit</button>
	    </form>
    </div>

</main>

{% endblock body %}
